[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rLakeHabitat"]
	path = rLakeHabitat
	url = https://gitlab.com/tristanblechinger/rlakehabitat
